In [18]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
        .appName("test") \
        .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
        .config("spark.jars", "/Drivers/SQL_Sever/jdbc/sqljdbc42.jar")\
        .enableHiveSupport() \
        .getOrCreate()

In [8]:
spark.sql("""
    select EmployeeName, NationalIDNumber, LoginID, Count(*)
    from silver.dimemployee
    group by all
    having EmployeeName is not null or NationalIDNumber is not null or LoginID is not null
    
    
""").show()

+-------------------+----------------+--------------------+--------+
|       EmployeeName|NationalIDNumber|             LoginID|count(1)|
+-------------------+----------------+--------------------+--------+
|       Vidur Luthra|       264306399|adventure-works\v...|       1|
|         Kok-Ho Loh|       778552911|adventure-works\k...|       1|
|     James Hamilton|       519899904|adventure-works\j...|       1|
|   Michael Sullivan|        42487730|adventure-works\m...|       1|
|Pamela Ansman-Wolfe|        61161660|adventure-works\p...|       1|
|        Alan Brewer|       470689086|adventure-works\a...|       1|
|      Carole Poland|       138280935|adventure-works\c...|       1|
|       Mike Seamans|       480951955|adventure-works\m...|       1|
|          Jay Adams|        63179277|adventure-works\jay0|       1|
|       Chris Norred|       260805477|adventure-works\c...|       1|
|       Jos√© Saraiva|       399771412|adventure-works\j...|       1|
|       Bryan Walton|       931190412|adventure-works\b...|       1|
| Michael Vanderhyde|       878395493|adventure-works\m...|       1|
|        Pat Coleman|       646304055|adventure-works\pat0|       1|
|     Ashvini Sharma|       749389530|adventure-works\a...|       1|
|   Christopher Hill|       393421437|adventure-works\c...|       1|
|          Rob Caron|       578953538|adventure-works\rob1|       1|
|      Jim Scardelis|       674171828|adventure-works\jim0|       1|
|      Mandar Samant|       370581729|adventure-works\m...|       1|
|          Shane Kim|       551834634|adventure-works\s...|       1|
+-------------------+----------------+--------------------+--------+
only showing top 20 rows

In [19]:
spark.sql("show databases;").show()

+---------+
|namespace|
+---------+
|   bronze|
|  default|
|     gold|
|   silver|
+---------+

In [20]:
spark.sql("use gold;")
spark.sql("show tables;").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|     gold|    customer_churn90|      false|
|     gold|customer_lifetime...|      false|
|     gold|         dimcustomer|      false|
|     gold|             dimdate|      false|
|     gold|         dimemployee|      false|
|     gold|          dimproduct|      false|
|     gold|emp_sales_performace|      false|
|     gold|           factsales|      false|
|     gold|      product_trends|      false|
|     gold|              profit|      false|
+---------+--------------------+-----------+

In [21]:
spark.sql("select * from customer_churn90").show(5)

+----------+--------------+-------------------+
|CustomerID|  CustomerName|   LastPurchaseDate|
+----------+--------------+-------------------+
|     23571|    Alisha Guo|2013-08-30 00:00:00|
|     29194|  Grace Powell|2013-09-15 00:00:00|
|     24354|   Bailey Cook|2013-09-30 00:00:00|
|     11141|Nicole Ramirez|2014-02-28 00:00:00|
|     17753|   Kendra Sanz|2013-10-21 00:00:00|
+----------+--------------+-------------------+
only showing top 5 rows